html,body{padding:0;margin:0;background:#FFF;color:#000;position:relative;height:100%;}
a.full{position:absolute;top:0;left:0;width:100%;height:100%;display:block;}
.relative{position:relative;}
h2.small{font-size:14px;margin:0;padding:0;display:inline-block;line-height:100%;color:#000033;}
li.underline h2.small{border-bottom:1px solid #999;}
.clear{clear:both;height:0px !important;}
.site-wrapper{position:relative;width:100%;height:100%;}
.header-wrapper{position:relative;width:100%}
.header{position:relative;width:100%;overflow:hidden;}
.header .top{width:100%;height:66px;background:#001528 url(../img/header-nav-bg-repeat.gif) repeat-x top left;}
.header .top .header-nav-wrapper{width:1024px;margin:0 auto;}
.header .top ul.header-nav{list-style:none;padding:0;margin:0;position:relative;}
.header .top ul.header-nav li{float:left;height:66px;list-style:none;padding:0;margin:0;position:relative;}
.header .top ul.header-nav li.item-home{width:102px;background:transparent url(../img/header-nav-item-home.jpg) no-repeat top left;}
.header .top ul.header-nav li.item-services{width:102px;background:transparent url(../img/header-nav-item-services.jpg) no-repeat top left;}
.header .top ul.header-nav li.item-about{width:102px;background:transparent url(../img/header-nav-item-about.jpg) no-repeat top left;}
.header .top ul.header-nav li.item-portfolio{width:102px;background:transparent url(../img/header-nav-item-portfolio.jpg) no-repeat top left;}
.header .top ul.header-nav li.item-contact{width:102px;background:transparent url(../img/header-nav-item-contact.jpg) no-repeat top left;}
.header .top ul.header-nav li.item{position:relative;cursor:pointer;}
.header .top ul.header-nav li.item:hover{background-position:0 -66px;}
.header .top ul.header-nav li.active{background-position:0 -66px;}
.header .top .brand{position:relative;}
.header .middle-wrapper{width:100%;height:296px;background:#001425 url(../img/header-middle-bg-repeat.gif) repeat-x top left;}
.header .middle{width:1024px;height:100%;background:transparent url(../img/header-bg2.gif) no-repeat top left;margin:0 auto;}
.header .bottom-wrapper{width:100%;height:114px;background:transparent url(../img/header-bottom-bg-repeat.gif) repeat-x top left;}
.header .bottom{width:1024px;height:100%;margin:0 auto;}
.content-wrapper{width:1024px;min-height:500px;margin:0 auto;}
footer, .footer-wrapper{width:100%;height:231px;margin-top:25px;background:transparent url(../img/footer-bg-repeat.gif) repeat-x top left;}
.footer{width:1024px;margin:0 auto;height:231px;}
.footer .row1{height:12px;clear:both;}
.footer .row1 .column1{float:left;width:300px;height:100%;background:transparent url(../img/footer_01.gif) no-repeat top left;}
.footer .row1 .column2{float:left;width:424px;height:100%;background:transparent url(../img/footer_02.gif) no-repeat top left;;}
.footer .row1 .column3{float:left;width:300px;height:100%;background:transparent url(../img/footer_03.gif) no-repeat top left;}
.footer .row2{height:64px;clear:both;}
.footer .row2 .column1{float:left;width:300px;height:100%;background:transparent url(../img/footer_04.gif) no-repeat top left;}
.footer .row2 .column2{float:left;width:424px;height:100%;background:transparent url(../img/footer_05.gif) no-repeat top left;color:#FFF;font-size:28px}
.footer .row2 .column3{float:left;width:300px;height:100%;background:transparent url(../img/footer_06.gif) no-repeat top left;}
.footer .row3{height:155px;clear:both;}
.footer .row3 .column1{float:left;width:300px;height:100%;background:transparent url(../img/footer_07.gif) no-repeat top left;}
.footer .row3 .column2{float:left;width:424px;height:100%;background:transparent url(../img/footer_08.gif) no-repeat top left;}
.footer .row3 .column3{float:left;width:300px;height:100%;background:transparent url(../img/footer_09.gif) no-repeat top left;}
.footer .copyright{text-align:center;color:#ECECEC;}
.slider{position:relative;top:27px;margin:0 auto;width:837px;text-align:center;font-size:11px;}
.nivoSlider{overflow:visible;}
.nivoSlider img{top:0px;left:0px}
.nivoSlider a.nivo-imageLink{position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:60;display:none}
.nivo-slice{display:block;position:absolute;z-index:50;height:100%}
.nivo-directionNav a{position:absolute;margin-top:63px;z-index:99;cursor:pointer;text-indent:-9999px;width:21px;height:33px}
.nivo-prevNav{left:-22px;top:20% !important;display:block;background:url(../img/marker-left.png) no-repeat}
.nivo-nextNav{right:-22px;top:20% !important;background:url(../img/marker-right.png) no-repeat}
.nivo-prevNav:hover{background:url(../img/marker-left-active.png) no-repeat}
.nivo-nextNav:hover{background:url(../img/marker-right-active.png) no-repeat}
.text-capitalize{text-transform:uppercase;}
.title2 h1{font-size:28px;}
.title2 h2{font-size:16px;}
.title2 h2 span,
.title2 h1 span{color:#00a0db;}
.list1, .list1 li{list-style:none;}
.list1 li{line-height:20px;padding-left:14px;background:url(../img/marker_2.gif) 0 5px no-repeat;}
.list1 li a{text-decoration:none;}
.list1 li a:hover{text-decoration:underline}
.list3, .list3 li{list-style:none;}
.list3 li{line-height:20px;padding-left:14px;background:url(../img/marker_2.gif) 0 5px no-repeat;text-align:left;}
.list3 li a{text-decoration:none;}
.list3 li a:hover{text-decoration:underline}
.greyed,
.greyed h2.small{font-size:12px;margin:1px;padding:0;color:#bbb;}
.padding{padding:18px;}
.padding-top{padding-top:18px;}
.padding-left{padding-left:18px;}
.padding-right{padding-right:18px;}
.padding-bottom{padding-bottom:18px;}
.tiny-padding{padding:6px;}
.tiny-padding-top{padding-top:6px;}
.tiny-padding-left{padding-left:6px;}
.tiny-padding-right{padding-right:6px;}
.tiny-padding-bottom{padding-bottom:6px;}
.small-padding{padding:12px;}
.small-padding-top{padding-top:12px;}
.small-padding-left{padding-left:12px;}
.small-padding-right{padding-right:12px;}
.small-padding-bottom{padding-bottom:12px;}
.large-padding{padding:24px;}
.large-padding-top{padding-top:24px;}
.large-padding-left{padding-left:24px;}
.large-padding-right{padding-right:24px;}
.large-padding-bottom{padding-bottom:24px;}
.margin{margin:18px;}
.margin-top{margin-top:18px;}
.margin-left{margin-left:18px;}
.margin-right{margin-right:18px;}
.margin-bottom{margin-bottom:18px;}
.tiny-margin{margin:6px;}
.tiny-margin-top{margin-top:6px;}
.tiny-margin-left{margin-left:6px;}
.tiny-margin-right{margin-right:6px;}
.tiny-margin-bottom{margin-bottom:6px;}
.small-margin{margin:12px;}
.small-margin-top{margin-top:12px;}
.small-margin-left{margin-left:12px;}
.small-margin-right{margin-right:12px;}
.small-margin-bottom{margin-bottom:12px;}
.large-margin{margin:24px;}
.large-margin-top{margin-top:24px;}
.large-margin-left{margin-left:24px;}
.large-margin-right{margin-right:24px;}
.large-margin-bottom{margin-bottom:24px;}
.no-margin{margin:0 !important;}
.no-margin-top{margin-top:0 !important;}
.no-margin-bottom{margin-bottom:0 !important;}
.no-margin-left{margin-left:0 !important;}
.no-margin-right{margin-right:0 !important;}
.search-form{position:absolute;top:0;left:0;width:100%;height:100%;}
.search-form input.search{position:absolute;top:22px;left:39px;border:none;width:152px;color:#999;height:17px;}
.search-form .submit{position:absolute;top:22px;height:25px;width:25px;left:204px;cursor:pointer;}
.box1{background:url(../img/box_repeat.gif) center repeat-y;width:276px;margin:0 auto 30px auto;position:relative;}
.box1-bot{background:url(../img/box_bot.gif) center bottom no-repeat;position:relative;padding-bottom:30px;}
.box1-top{background:url(../img/box_top.png) center top no-repeat;width:100%}
.box1 .pad{padding:0 26px;padding-bottom:23px}
.box1 h2{font-size:20px;color:#fff;padding:10px 0 22px 0}
.box1 h2.center{font-size:20px;line-height:1.2em;padding:10px 0 22px 0;letter-spacing:-1px}
.box1 p{font-size:14px;;}
.box1-btn{position:absolute;bottom:5px;left:10px;}
.box1 .button{background:url(../img/button2_bg.gif) top repeat-x}
.box1 .button span{background:url(../img/button2_left.gif) top left no-repeat}
.box1 .button span span{background:url(../img/button2_right.gif) top right no-repeat}

.box2 {margin:5px 0 10px 0;padding:12px;box-shadow:0px 0px 4px #999;-moz-box-shadow:0px 0px 4px #999;-webkit-box-shadow:0px 0px 4px #999;}
.box2 h1, .box2 h2 {color:#0d81ac;margin-top:0;padding-top:0;}

.button{background:url(../img/button1_bg.gif) top repeat-x;display:inline-block;font-size:20px;color:#363636;line-height:34px;text-decoration:none}
.button span{display:block;background:url(../img/button1_left.gif) top left no-repeat}
.button span span{padding:0 40px;background:url(../img/button1_right.gif) top right no-repeat;height:39px}
.button:hover{color:#006abb}

.form input[type=text],
.form input[type=email],
.form textarea,
.form select
{
    width: 97%;
}
.form select { width: 100%; }
.form label.required:after{content:'*';}

blockquote {
    font-family: Georgia, serif;
    font-size: 12px;
    font-style: italic;
    width: auto;
    margin: 0.25em 0;
    padding: 0.25em 20px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

@media (min-width:1200px){}
@media (min-width:768px) and (max-width:979px){.site-wrapper, .header-wrapper,
.content-wrapper, .header-nav-wrapper, .header-nav,
.header .middle,
.header .bottom,
.header{width:100% !important;}
    .header .middle{background-size:100% auto;}
    .header .bottom .span8{width:100%;}
    .slider{position:relative;top:27px;margin:0 auto;width:80%;text-align:center;}
    .nivoSlider{overflow:visible;}
    .nivoSlider img[data-src]{top:0px;left:0px;width:100% !important;}
    .nivoSlider a.nivo-imageLink{position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:60;display:none}
    .nivo-slice{display:block;position:absolute;z-index:50;height:100%}
    .nivo-directionNav a{position:absolute;margin-top:63px;z-index:99;cursor:pointer;text-indent:-9999px;width:21px;height:33px}
    .nivo-prevNav{left:-22px;top:20% !important;display:block;background:url(../img/marker-left.png) no-repeat}
    .nivo-nextNav{right:-22px;top:20% !important;background:url(../img/marker-right.png) no-repeat}
    .nivo-prevNav:hover{background:url(../img/marker-left-active.png) no-repeat}
    .nivo-nextNav:hover{background:url(../img/marker-right-active.png) no-repeat}
    .header .top ul.header-nav li.brand{width:25% !important;background-size:100% auto;}
    .header .top ul.header-nav li.item{width:10% !important;background-size:100% 200%;}
    footer, .footer-wrapper{margin-top:50px !important;}
    .footer-wrapper, .footer{width:100%;}
    .footer .column2{width:100% !important;background-size:100% 100% !important;}
    .box1{margin:0 auto 50px auto !important;}
    .box1-bot{padding-bottom:50px !important;}
    .f50{width: 32% !important;
        float: left !important;
        margin-left: 0 !important;}
}
@media (max-width:767px){.site-wrapper, .header-wrapper,
.content-wrapper, .header-nav-wrapper, .header-nav,
.header{width:100% !important;}
    .header .top{height:65px;}
    .header .top ul.header-nav{width:480px !important;margin:0 auto;height:65px;overflow:hidden;}
    .header .top ul.header-nav li.brand{display:none;}
    .header .top ul.header-nav li.item{width:96px;max-width:102px;!important;background-size:100% 200%;}
    .box1{background:url(../img/box2_repeat.gif) center repeat-y;width:350px;margin:0 auto;}
    .box1-bot{background:url(../img/box2_bot.gif) center bottom no-repeat}
    .box1-top{background:url(../img/box2_top.gif) center top no-repeat;width:100%}
    footer, .footer-wrapper{margin-top:50px !important;}
    .footer-wrapper, .footer{width:100%;}
    .footer .column2{width:100% !important;background-size:100% 100% !important;}
    .box1{margin:5px auto 50px auto !important;}
    .box1-bot{padding-bottom:30px !important;}
    .list1 li{float:left;width:47% !important;}
    .f50{width:49% !important; float:left !important;}
}
@media (max-width:480px){.header .top{height:32px;}
    .header .top ul.header-nav{width:280px !important;margin:0 auto;height:32px;overflow:hidden;}
    .header .top ul.header-nav li.brand{display:none;}
    .header .top ul.header-nav li.item{width:56px;max-width:102px;!important;background-size:100% 100%;}
    .header .top ul.header-nav li.item:hover{background-position:0 -32.5px;}
    .header .top ul.header-nav li.active{background-position:0 -32.5px;}
    footer, .footer-wrapper{margin-top:50px !important;}
    .footer-wrapper, .footer{width:100%;}
    .footer .column2{width:100% !important;background-size:100% 100% !important;}
    .box1{margin:10px auto 50px auto !important;}
    .box1-bot{padding-bottom:30px !important;}
    .f50{width:100% !important; float:none; !important;}
}